{% extends "base.html" %}
{% block content %}
<h2>Amenity List</h2>
<a href="{{ url_for('create_amenity') }}" class="btn btn-primary">Add Amenity</a>
<table border="1">
    <tr>
        <th>Amenity ID</th>
        <th>Amenity Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    {% for amenity in records %}  
    <tr>
        <td>{{ amenity.amenity_id }}</td>
        <td>{{ amenity.name }}</td>
        <td>{{ amenity.description }}</td>
        <td>
            <a href="{{ url_for('edit_amenity', id=amenity.amenity_id) }}">Edit</a>
            <form action="{{ url_for('delete_amenity', id=amenity.amenity_id) }}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
